body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f9;
<<<<<<< HEAD
}

h1 {
    text-align: center;
    color: #333;
}

.search-container {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
=======
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .search-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
>>>>>>> b3fbecb193bf8675b80a723437ff7b5cec5eb367
    padding: 10px;
    width: 60%;
    margin-right: 10px;
    font-size: 16px;
<<<<<<< HEAD
}

button {
=======
  }
  
  button {
>>>>>>> b3fbecb193bf8675b80a723437ff7b5cec5eb367
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
<<<<<<< HEAD
}

.job-list {
=======
  }
  
  .job-list {
>>>>>>> b3fbecb193bf8675b80a723437ff7b5cec5eb367
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
<<<<<<< HEAD
}

.job {
=======
  }
  
  .job {
>>>>>>> b3fbecb193bf8675b80a723437ff7b5cec5eb367
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 80%;
    text-align: center;
<<<<<<< HEAD
}

.job a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.job a:hover {
    text-decoration: underline;
}
  
=======
  }
  
  .job a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
  }
  
  .job a:hover {
    text-decoration: underline;
  }  
>>>>>>> b3fbecb193bf8675b80a723437ff7b5cec5eb367
